<a href="https://colab.research.google.com/github/mars-cookie/Algorithm/blob/master/MySQL_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Select : 조건에 맞는 변수 출력

- 모든 변수 출력 : SELECT * FROM ds
- 특정 변수 A,B 선택 + C 변수 역으로 정렬하기 : SELECT A,B FROM ds ORDER BY C DESC
- C 변수 후, D 변수 역으로 정렬 : ORDER BY C, D DESC
- 특정 조건 D가 sick인 경우만 출력 : SELECT A,B FROM ds WHERE D='Sick'. 조건에 ==말고 =를 쓰는 것이 특징
- D가 sick이 아니라면? : WHERE D NOT IN ('Sick')
- 상위 n개 : LIMIT n

# 2. Sum, Max, Min
- A 변수의 최솟값 : SELECT MIN(A)
- count로 수 세기 : SELECT COUNT(*) AS count
- 중복 제거한 것만 가져와서 수 세기 : SELECT COUNT(DISTINCT NAME) AS count