<a href="https://colab.research.google.com/github/mars-cookie/Algorithm/blob/master/%EA%B5%AC%ED%98%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 예제 4-1 상하좌우
- 모르고 for i in range(N)을 넣어버림 ..

In [ ]:
N = int(input())
A = input().split()

row = 1 ; col = 1

for j in A: # 방향 받기
  if j == 'R':
    a = 0; b = 1
  elif j == 'U':
    a = -1; b = 0
  elif j == 'D':
    a = 1; b = 0
  else:
    a = 0; b = -1
  row += a # 더해주기
  col += b
  
  if (row<=0) | (row>=(N+1)) | (col<=0) | (col>=(N+1)): #이상한 방향은 원래 방향으로 돌려놓고 무시하기
    row -= a
    col -= b

print(row,col,end=' ')

5
R R R U D D
3 4

예제 4-2 왕실의 나이트

- 문자열을 숫자로 바꾸는게 있었는데...

In [ ]:
row = [i for i in range(1,9)]
col = ['a','b','c','d','e','f','g','h']
col = list(map(ord,col))

x = 'a1'
s_col = ord(x[0])
s_row = int(x[1])

case = 0

if ((s_col+1) in col) & ((s_row-2) in row): # 오른쪽 1 위 2
  case+=1
if ((s_col+1) in col) & ((s_row+2) in row): # 오른쪽 1 아래 2
  case+=1
if ((s_col-1) in col) & ((s_row-2) in row): # 왼쪽 1 위 2
  case+=1
if ((s_col-1) in col) & ((s_row+2) in row): # 왼쪽 1 아래 2
  case+=1
if ((s_col+2) in col) & ((s_row+1) in row): # 아래 1 오른쪽 2
  case+=1
if ((s_col-2) in col) & ((s_row+1) in row): # 아래 1 왼쪽 2
  case+=1
if ((s_col+2) in col) & ((s_row-1) in row): # 위 1 오른쪽 2
  case+=1
if ((s_col-2) in col) & ((s_row-1) in row): # 위 1 왼쪽 2
  case+=1
print(case)

2

- 룰을 등록하고 그만큼 움직인다

In [ ]:
input_data = input()
row = int(input_data[1])
col= int(ord(input_data[0]))-int(ord('a'))+1
steps = [[1,-2],[1,2],[-1,-2],[-1,2],[2,1],[2,-1],[-2,1],[-2,-1]]

result=0
for step in steps:
  next_row = row + step[0]
  next_column = col + step[1]
  if 1<=next_row<=8 and 1<=next_column<=8:
    result+=1
print(result)

a1
2

# 예제 4-2 시각
- N이 주어졌을 때, 0시부터 N시 59분 59초까지 3이 포함되는 경우의 수를 산출

- 내 풀이 : 숫자형으로 풀었지만... 문자형을 활용하는 방법으로 개선해보자

In [4]:
N = int(input())
hour_limit = [3,13,23]
minute_limit = [3,13,23,30,31,32,33,34,35,36,37,38,39,43,53]
t=0
for hour in range(0,N+1):
  for minute in range(0,59+1):
    for second in range(0,59+1):
      if hour in hour_limit:
        t +=1
      elif minute in minute_limit:
        t +=1
      elif second in minute_limit:
        t +=1

print(t)

5
11475

In [5]:
N = int(input())
t=0
for hour in range(N+1):
  for minute in range(60):
    for second in range(60):
      if '3' in str(hour) + str(minute) + str(second): 
        t += 1

print(t)

5
11475