# 1. 리스트
## 1) 빈 리스트 생성

In [2]:
a=list(); print(a)
a=[] ; print(a)

[]
[]

In [3]:
n=10
a=[0]*n
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

## 2) 리스트 인덱싱과 슬라이싱

In [11]:
a=list(range(1,10))
print(a)
print(a[-1])
print(a[-3])
a[3]=7
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
9
7
[1, 2, 3, 7, 5, 6, 7, 8, 9]

In [12]:
a=list(range(1,10))
print(a[1:4])

[2, 3, 4]

## 3) 리스트 컴프리헨션

In [15]:
# 0부터 19까지 중 홀수만 가져오기
a=[i for i in range(20) if i%2==1]
print(a)
# 1부터 9까지 제곱 값을 포함
a=[i**2 for i in range(1,10)]
print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
# N * M 크기의 2차원 리스트 초기화
n=3 ; m=4
a=[[0]*m for _ in range(n)]
print(a)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

## 4) 리스트 관련 기타 메서드
추가 : append(), 정렬 : sort(reverse=True), 뒤집기 : reverse(),
삽입 : insert(위치,값), 세기 : count(), 제거 : remove()

In [28]:
a=[1,4,3]
# 2 삽입
a.append(2)
print('2 삽입: ',a)

# 내림차순 정렬
a.sort(reverse=True)
print('정렬 ',a)

# 리스트 원소 뒤집기
a.reverse()
print('뒤집기 ',a)

# 인덱스 2에 3 추가
a.insert(2,3)
print('삽입 ',a)

# 특정 값인 데이터 개수 세기
print('세기 ',a.count(3))

# 특정 값 데이터 삭제
a.remove(3)
print('1인 것 삭제 ',a)

2 삽입:  [1, 4, 3, 2]
정렬  [4, 3, 2, 1]
뒤집기  [1, 2, 3, 4]
삽입  [1, 2, 3, 3, 4]
세기  2
1인 것 삭제  [1, 2, 3, 4]

remove set에 포함되지 않은 값만을 저장

In [29]:
a=[1,2,3,4,5,5,5]
remove_set={3,5}

result=[i for i in a if i not in remove_set]
print(result)

[1, 2, 4]