# 1. 문자열 자료형

문자열 초기화에는 '' "" 사용

In [ ]:
data='Hello world'; print(data)
data='' ;print(data)

Hello world

따옴표 넣기

In [ ]:
data='Don\'t you know \"python\"'
print(data)

Don't you know "python"

반복 출력

In [ ]:
a='string'
print(a*3)

stringstringstring

슬라이싱 : 문자열은 한 글자마다 리스트 처리가 됌

In [ ]:
print(a[2:5])

rin

# 2. 튜플 자료형
각 원소의 성질이 다를 때 사용. 
한 번 들어가면 변경이 안 됌.

In [ ]:
a=(1,2,3,4)
print(a)
a[2]=7

(1, 2, 3, 4)

TypeError: ignored

# 3. 사전 자료형

키와 값이 있는데, 변경 불가능한 값을 키로 잡음

In [ ]:
data=dict()
data['사과']='Apple' ; data['바나나']='Banana'; data['코코넛']='Coconut'
print(data)

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}

원소가 사전 안에 있는지 확인

In [ ]:
if '사과' in data:
  print('Yes')

Yes

관련 함수 : keys(), values()

In [ ]:
key_list = data.keys()
value_list = data.values()
print(key_list)
print(value_list)

for key in key_list:
  print(data[key])

dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])
Apple
Banana
Coconut

# 3. 집합 자료형

- 중복허용 X
- 순서 X

In [ ]:
data=set([1,1,2,3,4,4,5])
print(data)
data={1,1,2,3,4,4,5}; print(data)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

- 합칩합, 교집합, 차집합 : |, &, -

In [ ]:
a=set(list(range(1,6)))
b=set(list(range(3,8)))
print(a|b)
print(a&b)
print(a-b)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

- add(): 원소 추가
- update(): 한 번에 여러 원소 추가
- remove(): 특정 값 제거

In [ ]:
data=set([1,2,3])
print(data)

data.add(4); print(data)
data.update([5,6]); print(data)
data.remove(3); print(data)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

# 4. 조건문
- 논리연산자 : X and Y, X or Y, not X
- pass 
- 조건부 표현식

In [ ]:
a=[1,2,3,4,5,5,5]
remove_set={3,5}

result=[]
for i in a:
  if i not in remove_set:
    result.append(i)

print(result)

[1, 2, 4]

In [ ]:
a=[1,2,3,4,5,5,5]
remove_set={3,5}
result=[i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

# 5. 반복문
- while을 이용하여 1~9 덧셈

In [ ]:
i=1; result=0

while i<=9:
  result += i
  i += 1

print(result)

45

- for를 이용하여 1~9 덧셈

In [ ]:
result = 0
for i in range(1,10):
  result += i
print(result)

45

- continue는 만나면 처음으로 돌아가는거고 pass는 그냥 밑으로 가는거