<a href="https://colab.research.google.com/github/mars-cookie/Algorithm/blob/master/%EC%9D%B4%EA%B2%83%EC%9D%B4_%EC%B7%A8%EC%97%85%EC%9D%84_%EC%9C%84%ED%95%9C_%EC%BD%94%EB%94%A9%ED%85%8C%EC%8A%A4%ED%8A%B8_%EA%B5%AC%ED%98%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 예제 4-1 상하좌우
- 모르고 for i in range(N)을 넣어버림 ..

In [ ]:
N = int(input())
A = input().split()

row = 1 ; col = 1

for j in A: # 방향 받기
  if j == 'R':
    a = 0; b = 1
  elif j == 'U':
    a = -1; b = 0
  elif j == 'D':
    a = 1; b = 0
  else:
    a = 0; b = -1
  row += a # 더해주기
  col += b
  
  if (row<=0) | (row>=(N+1)) | (col<=0) | (col>=(N+1)): #이상한 방향은 원래 방향으로 돌려놓고 무시하기
    row -= a
    col -= b

print(row,col,end=' ')

5
R R R U D D
3 4

예제 4-2 왕실의 나이트

- 문자열을 숫자로 바꾸는게 있었는데...

In [56]:
row = [i for i in range(1,9)]
col = ['a','b','c','d','e','f','g','h']
col = list(map(ord,col))

x = 'a1'
s_col = ord(x[0])
s_row = int(x[1])

case = 0

if ((s_col+1) in col) & ((s_row-2) in row): # 오른쪽 1 위 2
  case+=1
if ((s_col+1) in col) & ((s_row+2) in row): # 오른쪽 1 아래 2
  case+=1
if ((s_col-1) in col) & ((s_row-2) in row): # 왼쪽 1 위 2
  case+=1
if ((s_col-1) in col) & ((s_row+2) in row): # 왼쪽 1 아래 2
  case+=1
if ((s_col+2) in col) & ((s_row+1) in row): # 아래 1 오른쪽 2
  case+=1
if ((s_col-2) in col) & ((s_row+1) in row): # 아래 1 왼쪽 2
  case+=1
if ((s_col+2) in col) & ((s_row-1) in row): # 위 1 오른쪽 2
  case+=1
if ((s_col-2) in col) & ((s_row-1) in row): # 위 1 왼쪽 2
  case+=1
print(case)

2

- 룰을 등록하고 그만큼 움직인다

In [58]:
input_data = input()
row = int(input_data[1])
col= int(ord(input_data[0]))-int(ord('a'))+1
steps = [[1,-2],[1,2],[-1,-2],[-1,2],[2,1],[2,-1],[-2,1],[-2,-1]]

result=0
for step in steps:
  next_row = row + step[0]
  next_column = col + step[1]
  if 1<=next_row<=8 and 1<=next_column<=8:
    result+=1
print(result)

a1
2