# 1. 문자열 자료형

문자열 초기화에는 '' "" 사용

In [ ]:
data='Hello world'; print(data)
data='' ;print(data)

Hello world

따옴표 넣기

In [ ]:
data='Don\'t you know \"python\"'
print(data)

Don't you know "python"

반복 출력

In [ ]:
a='string'
print(a*3)

stringstringstring

슬라이싱 : 문자열은 한 글자마다 리스트 처리가 됌

In [ ]:
print(a[2:5])

rin

# 2. 튜플 자료형
각 원소의 성질이 다를 때 사용. 
한 번 들어가면 변경이 안 됌.

In [ ]:
a=(1,2,3,4)
print(a)
a[2]=7

(1, 2, 3, 4)

TypeError: ignored

# 3. 사전 자료형

키와 값이 있는데, 변경 불가능한 값을 키로 잡음

In [ ]:
data=dict()
data['사과']='Apple' ; data['바나나']='Banana'; data['코코넛']='Coconut'
print(data)

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}

원소가 사전 안에 있는지 확인

In [ ]:
if '사과' in data:
  print('Yes')

Yes

관련 함수 : keys(), values()

In [ ]:
key_list = data.keys()
value_list = data.values()
print(key_list)
print(value_list)

for key in key_list:
  print(data[key])

dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])
Apple
Banana
Coconut

# 3. 집합 자료형

- 중복허용 X
- 순서 X

In [ ]:
data=set([1,1,2,3,4,4,5])
print(data)
data={1,1,2,3,4,4,5}; print(data)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

- 합칩합, 교집합, 차집합 : |, &, -

In [ ]:
a=set(list(range(1,6)))
b=set(list(range(3,8)))
print(a|b)
print(a&b)
print(a-b)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

- add(): 원소 추가
- update(): 한 번에 여러 원소 추가
- remove(): 특정 값 제거

In [ ]:
data=set([1,2,3])
print(data)

data.add(4); print(data)
data.update([5,6]); print(data)
data.remove(3); print(data)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

# 4. 조건문
- 논리연산자 : X and Y, X or Y, not X
- pass 
- 조건부 표현식

In [ ]:
a=[1,2,3,4,5,5,5]
remove_set={3,5}

result=[]
for i in a:
  if i not in remove_set:
    result.append(i)

print(result)

[1, 2, 4]

In [ ]:
a=[1,2,3,4,5,5,5]
remove_set={3,5}
result=[i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

# 5. 반복문
- while을 이용하여 1~9 덧셈

In [ ]:
i=1; result=0

while i<=9:
  result += i
  i += 1

print(result)

45

- for를 이용하여 1~9 덧셈

In [ ]:
result = 0
for i in range(1,10):
  result += i
print(result)

45

- continue는 만나면 처음으로 돌아가는거고 pass는 그냥 밑으로 가는거

# 6. 함수(20200910)

In [ ]:
def add(a,b):
  return a+b

print(add(2,3))

5

In [ ]:
def add(a,b):
  print(a+b)
add(2,3)

5

In [ ]:
a=0

def func():
  global a
  a+=1

for i in range(10):
  func()

print(a)

10

- lambda : (lambda 원소 : 함수)(실행 원소)

In [ ]:
print((lambda a,b: a+b)(3,7))

10

# 7. 입출력

- list(map(int,input().split())) : 띄워진 것을 입력받아 정수로 바꿀 때

In [ ]:
n=int(input())

data=list(map(int,input().split()))

data.sort(reverse=True)
print(data)

5
65 90 75 34 99
[99, 90, 75, 65, 34]

- sys 라이브러리의 sys.stdin.readline().rstrip() 이용.
- rstrip()은 엔터 입력 방지

In [ ]:
import sys
data = sys.stdin.readline().rstrip()
print(data)

- 그냥 출력 vs 줄 바꿔서 출력
- 문자열과 수를 함께 출력 : f' {}' 문법 좋음

In [ ]:
a=1 ;b=1
print(a,b)

1 1

In [ ]:
a=1;b=1
print(a)
print(b)

1
1

In [ ]:
answer=7
print('정답은 '+str(answer)+'입니다')
print(f'정답은 {7}입니다')

정답은 7입니다
정답은 7입니다

# 8. 주요 라이브러리
- 내장함수
- itertools : 반복 형태 처리
- heapq : 힙 기능 제공
- bisect : 이진 탐색
- collections : 덱, 카운터 등의 유용한 자료구조 포함
- math : 수학적 기능

- 내장함수 : sum(), min(), eval(), sorted(), sort()
- sorted() : 리스트 안에 튜플이나 리스트가 있을 때, 정렬 기준을 key를 통해 잡을 수 있음.

In [ ]:
result = sum([1,2,3,4,5]); print(result)
result = min(7,3,5,2); print(result)
result = eval("(3+5)*7"); print(result)
result = sorted([9,1,5,8,4],reverse=True)
result = sorted([('홍길동',35),('이순신',75),('아무개',50)],key=lambda x : x[1],reverse=True); print(result)
data=[9,1,5,8,4]; data.sort(); print(data)

15
2
56
[('이순신', 75), ('아무개', 50), ('홍길동', 35)]
[1, 4, 5, 8, 9]

- itertools : permutations, combinations, product, combinations_with_replacement
- 순열, 조합, 중복순열, 중복조합
- permutation()은 클래스니까 리스트화 시켜야 함
- product()에 repeat=반복수 넣는 것이 특징

In [ ]:
from itertools import permutations,combinations,product,combinations_with_replacement
data=['A','B','C']
print(list(permutations(data,2)))
print(list(combinations(data,2)))
print(list(product(data,repeat=2)))
print(list(combinations_with_replacement(data,2)))

[('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'C'), ('C', 'A'), ('C', 'B')]
[('A', 'B'), ('A', 'C'), ('B', 'C')]
[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]
[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

In [ ]:
print(list(product(data,repeat=3)))

[('A', 'A', 'A'), ('A', 'A', 'B'), ('A', 'A', 'C'), ('A', 'B', 'A'), ('A', 'B', 'B'), ('A', 'B', 'C'), ('A', 'C', 'A'), ('A', 'C', 'B'), ('A', 'C', 'C'), ('B', 'A', 'A'), ('B', 'A', 'B'), ('B', 'A', 'C'), ('B', 'B', 'A'), ('B', 'B', 'B'), ('B', 'B', 'C'), ('B', 'C', 'A'), ('B', 'C', 'B'), ('B', 'C', 'C'), ('C', 'A', 'A'), ('C', 'A', 'B'), ('C', 'A', 'C'), ('C', 'B', 'A'), ('C', 'B', 'B'), ('C', 'B', 'C'), ('C', 'C', 'A'), ('C', 'C', 'B'), ('C', 'C', 'C')]

- heapq(20200911) : 힙기능, 우선순위 큐

In [2]:
import heapq

def heapsort(iterable):
  h=[]
  result=[]
  # 모든 원소를 차례대로 힙에 삽입
  for value in iterable:
    heapq.heappush(h,value)
  # 힙에 삽입된 모든 원소를 차례대로 꺼내어 담기
  for i in range(len(h)):
    result.append(heapq.heappop(h))
  return result

result = heapsort([1,3,5,7,9,2,4,6,8,0])
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
def heapsort(iterable):
  h=[]
  result=[]
  # 모든 원소를 차례대로 힙에 삽입
  for value in iterable:
    heapq.heappush(h,-value)
  # 힙에 삽입된 모든 원소를 차례대로 꺼내어 담기
  for i in range(len(h)):
    result.append(-heapq.heappop(h))
  return result

result = heapsort([1,3,5,7,9,2,4,6,8,0])
print(result)

[-9, -8, -4, -7, -5, -2, -3, -1, -6, 0]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

- bisect : 정렬된 배열에서 순서 유지한 채로 삽입
- bisect_left(a,x): a 리스트에서 x 값을 삽입할 가장 왼쪽 인덱스 찾아서 삽입

In [5]:
from bisect import bisect_left,bisect_right

a=[1,2,4,4,8]
x=4

print(bisect_left(a,x))
print(bisect_right(a,x))

2
4

In [7]:
# 특정 값 안 개수 구하기
def count_by_range(a,left_value,right_value):
  right_index=bisect_right(a,right_value)
  left_index=bisect_left(a,left_value)
  return right_index-left_index

a=[1,2,3,3,3,3,4,4,8,9]
print(count_by_range(a,4,4))
print(count_by_range(a,-1,3))

2
6

- collections : deque와 counter 클래스
- deque는 가장 앞쪽이나 뒷쪽에 원소를 추가하거나 삭제할 때 유용. 다만, 슬라이싱과 인덱싱은 안됌
- counter는 등장 횟수를 세는 기능

In [9]:
from collections import deque

data = deque([2,3,4])
data.appendleft(1)
data.append(5)
print(data)
print(list(data))
data.pop()
data.popleft()
print(data)
print(list(data))

deque([1, 2, 3, 4, 5])
[1, 2, 3, 4, 5]
deque([2, 3, 4])
[2, 3, 4]

In [12]:
from collections import Counter
counter = Counter(['red','blue','red','green','blue','blue'])

print(counter['blue'])
print(counter)
print(dict(counter))

3
Counter({'blue': 3, 'red': 2, 'green': 1})
{'red': 2, 'blue': 3, 'green': 1}

- math 라이브러리
- 20200911에는 교재 53페이지까지 학습

In [14]:
import math
print(math.factorial(5))
print(math.sqrt(7))
print(math.gcd(21,14))
print(math.pi)
print(math.e)

120
2.6457513110645907
7
3.141592653589793
2.718281828459045